<div class="background">
  <div class="title-page">
    <%= "#{@ppt_up} / players" %>
  </div>
  <div class="forms">
    <div class="form-ppt">
      <div class="title-medium">
      <%= @teamone_name %>
      </div>
      <div id="form-container" class="container">
        <%= simple_form_for([@ppt, @teamone, @playerone]) do |f| %>
          <div id="info" class="line">
            <div class="flex">
              <%= f.input :name, placeholder: "Team de fou" %>
              <div class="submit disappear">
                <%= f.submit "Submit", class: "button-submit-player" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @playerones.each do |playerone| %>
        <div class="player">
          <%= playerone.name %>
          <%= link_to playerone_path(playerone), method: :delete do %>
            <%= image_tag "trash.png" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-ppt">
      <div class="title-medium">
      <%= @teamtwo_name %>
      </div>
      <div id="form-container" class="container">
        <%= simple_form_for([@ppt, @teamtwo, @playertwo]) do |f| %>
          <div id="info" class="line">
            <div class="flex">
              <%= f.input :name, placeholder: "Team de fou" %>
              <div class="submit disappear">
                <%= f.submit "Submit", class: "button-submit-player" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @playertwos.each do |playertwo| %>
        <div class="player">
          <%= playertwo.name %>
          <%= link_to playertwo_path(playertwo), method: :delete do %>
            <%= image_tag "trash.png" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @playertwos.length == @playerones.length && @playertwos.length > 0 %>
    <div class="submit">
      <%= link_to "start", first_page_ppt_path(@ppt), class: "button-principal" %>
    </div>
  <% else %>
    <div class="submit">
      <h4 class= "button-principal">No Submit</h4>
    </div>
  <% end %>
</div>
