<div class="background">
  <div class="title-page">
    <%= "#{@ppt_up} / players" %>
  </div>
  <div class="forms">
    <div class="form-ppt">
      <div class="title-medium">
      <%= @teamone_name %>
      </div>
      <div id="form-container" class="container">
        <%= simple_form_for([@ppt, @teamone, @playerone]) do |f| %>
          <div id="info" class="line">
            <div class="flex">
              <%= f.input :name, placeholder: "Team de fou" %>
              <div class="submit disappear">
                <%= f.submit "Submit", class: "button-submit-player" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @playerones.each do |playerone| %>
        <%= playerone.name %>
      <% end %>
    </div>
    <div class="form-ppt">
      <div class="title-medium">
      <%= @teamtwo_name %>
      </div>
      <div id="form-container" class="container">
        <%= simple_form_for([@ppt, @teamtwo, @playertwo]) do |f| %>
          <div id="info" class="line">
            <div class="flex">
              <%= f.input :name, placeholder: "Team de fou" %>
              <div class="submit disappear">
                <%= f.submit "Submit", class: "button-submit-player" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @playertwos.each do |playertwo| %>
        <%= playertwo.name %>
      <% end %>
    </div>
  </div>
  <div class="submit">
    <%= link_to "start", first_page_ppt_path(@ppt), class: "button-principal" %>
  </div>
</div>
