<%= @teamone %>
<%= @teamtwo %>
<%= @ppt %>
<%= link_to "start", first_page_ppt_path(@ppt) %>
<div class="background">
  <div class="title-page">
    <%= @teamone_name %>
  </div>
  <div class="form-ppt">
    <div id="form-container" class="container">
      <%= simple_form_for([@ppt, @teamone, @playerone]) do |f| %>
        <div id="info" class="line">
          <%= f.input :name, placeholder: "Team de fou" %>
          <div class="submit">
            <%= f.submit "Submit", class: "button-submit" %>
          </div>
        </div>
      <% end %>
      <%= simple_form_for([@ppt, @teamone, @playerone]) do |f| %>
        <div id="info" class="line">
          <%= f.input :name, placeholder: "Team de fou" %>
          <div class="submit">
            <%= f.submit "Submit", class: "button-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-ppt">
    <div id="form-container" class="container">
      <%= simple_form_for([@ppt, @teamtwo, @playertwo]) do |f| %>
        <div id="info" class="line">
          <%= f.input :name, placeholder: "Team de fou" %>
          <div class="submit">
            <%= f.submit "Submit", class: "button-submit" %>
          </div>
        </div>
      <% end %>
      <%= simple_form_for([@ppt, @teamtwo, @playertwo]) do |f| %>
        <div id="info" class="line">
          <%= f.input :name, placeholder: "Team de fou" %>
          <div class="submit">
            <%= f.submit "Submit", class: "button-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
