<h1>Concours Photos</h1>
<h2>Prenez une photo, le public vote. La photo gagnante rapporte 5 point
à l'équipe</h2>
<%= @theme %>
<%= link_to "rules", i_guess_theme_ppt_path %>

<%= simple_form_for([@ppt, @teamone]) do |f| %>
  <div id="info" class="line">
    <%= f.input :point %>
    <div class="submit disappear">
      <%= f.submit "Submit", class: "button-submit" %>
    </div>
  </div>
<% end %>
<%= simple_form_for([@ppt, @teamtwo]) do |f| %>
  <div id="info" class="line">
    <%= f.input :point %>
    <div class="submit disappear">
      <%= f.submit "Submit", class: "button-submit" %>
    </div>
  </div>
<% end %>
