<h1>2 ème mi-temps</h1>
<%= cl_image_tag @ppt.photo.key %>
<%= link_to "l'un l'autre", p_one_or_other_ppt_path %>

<%= simple_form_for([@ppt, @teamone]) do |f| %>
  <div id="info" class="line">
    <%= f.input :point %>
    <div class="submit disappear">
      <%= f.submit "Submit", class: "button-submit" %>
    </div>
  </div>
<% end %>
<%= simple_form_for([@ppt, @teamtwo]) do |f| %>
  <div id="info" class="line">
    <%= f.input :point %>
    <div class="submit disappear">
      <%= f.submit "Submit", class: "button-submit" %>
    </div>
  </div>
<% end %>
