<div class="background">
  <div class="title-page">
    <%= @ppt_up%>
    <% if @ppt.photo.attached?  %>
      <%= cl_image_tag @ppt.photo.key, class: "ppt_photo" %>
    <% else %>
      <%= image_tag "Logo.png" %>
    <% end %>
  </div>
  <div class="forms">
    <div class="form-ppt">
      <div id="form-container" class="container">
        <% if @ppt.teamone.nil? %>
          <%= simple_form_for([@ppt, @teamone]) do |f| %>
            <div id="info" class="line">
              <%= f.input :name, placeholder: "Team de fou" %>
              <div class="submit disappear">
                <%= f.submit "Submit", class: "button-submit" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= @ppt.teamone.name %>
          <%= link_to ppt_teamone_path(@ppt.teamone), method: :delete do %>
            <%= image_tag "trash.png" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="form-ppt">
      <div id="form-container" class="container">
        <% if @ppt.teamtwo.nil? %>
          <%= simple_form_for([@ppt, @teamtwo]) do |f| %>
            <div id="info" class="line">
              <%= f.input :name, placeholder: "Team de fou" %>
              <div class="submit disappear">
                <%= f.submit "Submit", class: "button-submit" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= @ppt.teamtwo.name %>
          <%= link_to ppt_teamtwo_path(@ppt.teamtwo), method: :delete do %>
            <%= image_tag "trash.png" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @ppt.teamone.nil? || @ppt.teamtwo.nil?  %>
    <div class="submit">
      <h4 class= "button-principal">No Submit</h4>
    </div>
  <% else %>
    <div class="submit">
      <%= link_to "ppt", description_ppt_path(@ppt), class: "button-principal" %>
    </div>
  <% end %>
</div>
